# Git
.git
.gitignore

# Docker
Dockerfile
compose.yaml
.dockerignore

# Data
.mongodb_data/

# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test files
*.test
*.out
coverage.out
coverage.html

# Docs
*.md
!go.mod
!go.sum

# Env
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
